In [1]:
import pandas as pd
import numpy as np
import math as mt

In [2]:
data = pd.read_csv('oj.csv',sep=',',header=0)
data.head()
#store = pd.read_csv('Store.csv',sep=',',header=0,encoding="latin")
#store

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

In [3]:
#1.	Find the dimensions of the oj data set
data.shape

(28947, 17)

In [4]:
# 2.	Find the structure of the data set
#print(data.describe())
#data.dtypes
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28947 entries, 0 to 28946
Data columns (total 17 columns):
store       28947 non-null int64
brand       28947 non-null object
week        28947 non-null int64
logmove     28947 non-null float64
feat        28947 non-null int64
price       28947 non-null float64
AGE60       28947 non-null float64
EDUC        28947 non-null float64
ETHNIC      28947 non-null float64
INCOME      28947 non-null float64
HHLARGE     28947 non-null float64
WORKWOM     28947 non-null float64
HVAL150     28947 non-null float64
SSTRDIST    28947 non-null float64
SSTRVOL     28947 non-null float64
CPDIST5     28947 non-null float64
CPWVOL5     28947 non-null float64
dtypes: float64(13), int64(3), object(1)
memory usage: 3.8+ MB
None

In [5]:
# 3.	Find out the column names in the data set
print(data.columns)

Index(['store', 'brand', 'week', 'logmove', 'feat', 'price', 'AGE60', 'EDUC',
       'ETHNIC', 'INCOME', 'HHLARGE', 'WORKWOM', 'HVAL150', 'SSTRDIST',
       'SSTRVOL', 'CPDIST5', 'CPWVOL5'],
      dtype='object')

In [6]:
#4.	Describe the data set
data.describe()

,store,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
count,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000,28947.000000
mean,80.883511,100.459944,9.167864,0.237261,2.282488,0.173130,0.225220,0.155557,10.616735,0.115602,0.359178,0.343766,5.097274,1.207317,2.120359,0.438914
std,35.576511,34.692314,1.019378,0.425411,0.648001,0.061872,0.109945,0.187581,0.282314,0.030168,0.052673,0.239028,3.472386,0.526528,0.729828,0.219248
min,2.000000,40.000000,4.158883,0.000000,0.520000,0.058054,0.049550,0.024247,9.867083,0.013506,0.244463,0.002509,0.132097,0.400000,0.772530,0.094562
25%,53.000000,70.000000,8.489616,0.000000,1.790000,0.122100,0.145985,0.041910,10.456079,0.097938,0.312636,0.123486,2.767046,0.727273,1.626192,0.271673
50%,86.000000,101.000000,9.034080,0.000000,2.170000,0.170655,0.229390,0.074656,10.635326,0.111221,0.355635,0.346154,4.650687,1.115385,1.963412,0.383227
75%,111.000000,130.000000,9.764685,0.000000,2.730000,0.213949,0.284395,0.187761,10.796960,0.135168,0.402313,0.528313,6.650602,1.538462,2.533672,0.560240
max,137.000000,160.000000,13.482016,1.000000,3.870000,0.307398,0.528362,0.995691,11.236197,0.216354,0.472308,0.916699,17.855951,2.571429,4.107902,1.143367

In [7]:
#1.	Fetch the first row 3rd column from the data set
data.iloc[0,2]

40

In [8]:
##2.	Fetch the first, second and Third columns of the oj data frame
data.iloc[:,:3].head()

   store      brand  week
0      2  tropicana    40
1      2  tropicana    46
2      2  tropicana    47
3      2  tropicana    48
4      2  tropicana    50

In [9]:
#3.	Fetch the first, second, eighth and the 456th rows of the 1st, third and the sixth 
data.ix[[0,1,7,455],[0,2,5]]

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

     store  week  price
0        2    40   3.87
1        2    46   3.87
7        2    53   3.29
455      5    51   2.99

In [10]:
#4.	Fetch the top 5 rows of the brand column
data.ix[[0,1,2,3,4],[1]]

       brand
0  tropicana
1  tropicana
2  tropicana
3  tropicana
4  tropicana

In [11]:
#5.	Fetch top 5 rows of the brand, week and feat details
data.ix[[0,1,2,3,4],[1,2,4]]

       brand  week  feat
0  tropicana    40     0
1  tropicana    46     0
2  tropicana    47     0
3  tropicana    48     0
4  tropicana    50     0

In [26]:
#6.	Fetch the details of all distinct stores
data.groupby('store').describe().head(10)

       AGE60                                                                  \
       count      mean           std       min       25%       50%       75%
store
2      330.0  0.232865  1.723459e-15  0.232865  0.232865  0.232865  0.232865
5      348.0  0.117368  9.867417e-16  0.117368  0.117368  0.117368  0.117368
8      354.0  0.252394  5.558972e-16  0.252394  0.252394  0.252394  0.252394
9      351.0  0.269119  1.222989e-15  0.269119  0.269119  0.269119  0.269119
12     345.0  0.178341  9.172643e-16  0.178341  0.178341  0.178341  0.178341
14     351.0  0.213949  3.335424e-16  0.213949  0.213949  0.213949  0.213949
18     336.0  0.272313  7.783152e-16  0.272313  0.272313  0.272313  0.272313
21     360.0  0.066896  2.223536e-16  0.066896  0.066896  0.066896  0.066896
28     351.0  0.213309  1.389760e-16  0.213309  0.213309  0.213309  0.213309
32     360.0  0.254953  1.890006e-15  0.254953  0.254953  0.254953  0.254953

                CPDIST5            ...     price         week              \
            max   count      mean  ...       75%   max  count        mean
store                              ...
2      0.232865   330.0  1.927280  ...    2.8375  3.87  330.0  103.872727
5      0.117368   348.0  1.600573  ...    2.9400  3.66  348.0  100.456897
8      0.252394   354.0  2.905384  ...    2.6200  3.19  354.0   99.796610
9      0.269119   351.0  1.820474  ...    2.6750  3.39  351.0   99.444444
12     0.178341   345.0  0.839303  ...    2.9900  3.87  345.0  100.417391
14     0.213949   351.0  2.359891  ...    3.0700  3.87  351.0   99.444444
18     0.272313   336.0  1.684315  ...    2.6200  3.19  336.0   98.080357
21     0.066896   360.0  1.953944  ...    2.5900  3.19  360.0  100.483333
28     0.213309   351.0  1.820777  ...    2.9400  3.66  351.0   99.162393
32     0.254953   360.0  3.337254  ...    3.0700  3.87  360.0   99.625000


             std   min    25%    50%     75%    max
store
2      33.508002  40.0  75.00  105.5  133.00  160.0
5      34.657083  40.0  70.75   99.5  130.25  160.0
8      35.148707  40.0  69.00  100.5  130.00  160.0
9      35.035030  40.0  69.00  100.0  129.00  160.0
12     35.296662  41.0  69.00  100.0  132.00  160.0
14     34.901685  40.0  69.00  100.0  129.00  160.0
18     33.089063  40.0  69.75   97.5  126.25  160.0
21     34.716677  40.0  70.75  100.5  130.25  160.0
28     35.145564  40.0  69.00   98.0  129.00  160.0
32     34.878794  40.0  69.75   99.5  129.25  160.0

[10 rows x 128 columns]

In [27]:
#7.	Fetch all the observations for Tropicana brand
data[data.brand == "tropicana"].head(10)

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5,LogInc
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
5,2,tropicana,51,8.877382,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
6,2,tropicana,52,9.294682,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
7,2,tropicana,53,8.954674,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
8,2,tropicana,54,9.049232,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
9,2,tropicana,57,8.613230,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643

In [28]:
#8.	Fetch all the observations for Tropicana brand using query function
data.query("(brand=='tropicana')").head(10)

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5,LogInc
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
5,2,tropicana,51,8.877382,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
6,2,tropicana,52,9.294682,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
7,2,tropicana,53,8.954674,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
8,2,tropicana,54,9.049232,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
9,2,tropicana,57,8.613230,0,3.29,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643

In [15]:
#9.	Fetch bottom 5 observations for those who have bought Tropicana or dominics
data.query("(brand=='tropicana')|(brand=='dominicks')").tail(5)

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
28942,137,dominicks,156,7.987524,0,2.00,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28943,137,dominicks,157,8.502689,0,1.94,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28944,137,dominicks,158,9.505991,0,1.59,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28945,137,dominicks,159,10.927376,0,1.49,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761
28946,137,dominicks,160,8.859363,0,1.75,0.209602,0.528362,0.11325,10.96649,0.092996,0.330293,0.860739,6.026484,0.705882,0.77253,0.333761

In [16]:
#10.	Fetch the income, brand, price observations with Tropicana brand without feature advertisement
data[["brand","price","INCOME"]].head()

       brand  price     INCOME
0  tropicana   3.87  10.553205
1  tropicana   3.87  10.553205
2  tropicana   3.87  10.553205
3  tropicana   3.87  10.553205
4  tropicana   3.87  10.553205

In [17]:
#11.	Add a new column in the dataset: logInc which is the logarithm of the income

data['LogInc']=np.log(data.INCOME)
data.head()

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5,LogInc
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927,2.35643

In [18]:
#12.	Sort the Data in the increasing order of the week
sorted(data.week)

[40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 ...]

In [19]:
# 13.	Sort the data in the decreasing order of Income

sorted(data.INCOME,reverse= True)

[11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23619652,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.23319833,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 11.05101698,
 ...]

In [20]:
# 14.	Find the mean of the juice price for each brand

data.groupby(['brand']).mean().price

brand
dominicks      1.735809
minute.maid    2.241162
tropicana      2.870493
Name: price, dtype: float64

In [21]:
# 15.	Find the average income for each brand and at each store
data.groupby(['brand','store']).mean().INCOME

brand      store
dominicks  2        10.553205
           5        10.922371
           8        10.597010
           9        10.787152
           12        9.996659
           14       11.043929
           18       10.391976
           21       10.716194
           28       10.798534
           32       10.674475
           33       10.345927
           40       10.550250
           44       10.869159
           45       10.745378
           47       10.635326
           48       10.756029
           49       10.806754
           50       10.589308
           51       10.620839
           52       11.051017
           53       10.600004
           54       10.910898
           56       10.831825
           59       10.715040
           62       11.236197
           64       10.605817
           67       10.796960
           68       10.188366
           70       10.412351
           71       10.404838
                      ...
tropicana  101      10.659938
           102      10.493854
           103      10.585245
           104      10.698853
           105      10.414393
           106      10.506847
           107      10.827131
           109      11.233198
           110      10.520860
           111      10.138283
           112      10.882659
           113      10.647660
           114      10.347949
           115      10.947485
           116      10.697113
           117      10.760962
           118      10.632364
           119      10.752719
           121      10.949929
           122      10.775053
           123      10.334100
           124      10.258957
           126      10.980876
           128      10.153429
           129      10.999864
           130       9.966650
           131      10.793537
           132      10.619154
           134      10.722518
           137      10.966490
Name: INCOME, Length: 249, dtype: float64

In [22]:
#16.	Find:a.	Mean and std deviation of the income

print("Mean = ",data.mean().INCOME, "Std deviation = ",data.std().INCOME)

Mean =  10.616734638000503 Std deviation =  0.28231362150251377

In [23]:
# b b.	For income greater than or equal to 10.5, find the mean income
data.INCOME[ data.INCOME >= 10.5].mean()

10.759452382031103

In [24]:
# c.	For each brand having price >=2.5 find the mean, median, sd of the log of income

mn=data[data.price>=2.5].groupby(["brand"]).mean().LogInc
md=data[data.price>=2.5].groupby(["brand"]).median().LogInc
std1=data[data.price>=2.5].groupby(["brand"]).std().LogInc
print("Mean= ", mn,"Median = ",md,"Standard deviation =",std1)

Mean=  brand
dominicks      2.348104
minute.maid    2.360556
tropicana      2.361968
Name: LogInc, dtype: float64 Median =  brand
dominicks      2.338646
minute.maid    2.363903
tropicana      2.364181
Name: LogInc, dtype: float64 Standard deviation = brand
dominicks      0.038822
minute.maid    0.028522
tropicana      0.026782
Name: LogInc, dtype: float64

In [25]:
#17.	Find the Cross tabulation of brands and feature advertisement
pd.crosstab(index=data.brand,columns=data.feat)

feat            0     1
brand
dominicks    7169  2480
minute.maid  6865  2784
tropicana    8045  1604