In [51]:
import pandas as pd
import numpy as np
import math as mt
import os
import warnings
warnings.filterwarnings('ignore')

In [52]:
terror = pd.read_csv('terror.csv',sep=',',header=0,encoding="latin")
terror

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,0,0,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
5,197001010002,1970,1,1,NaN,0,NaN,217,United States,1,...,"The Cairo Chief of Police, William Petersen, r...","""Police Chief Quits,"" Washington Post, January...","""Cairo Police Chief Quits; Decries Local 'Mili...","Christopher Hewitt, ""Political Violence and Te...",Hewitt Project,-9,-9,0,-9,NaN
6,197001020001,1970,1,2,NaN,0,NaN,218,Uruguay,3,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
7,197001020002,1970,1,2,NaN,0,NaN,217,United States,1,...,"Damages were estimated to be between $20,000-$...",Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
8,197001020003,1970,1,2,NaN,0,NaN,217,United States,1,...,The New Years Gang issue a communiqué to a loc...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...","The Wisconsin Cartographers' Guild, ""Wisconsin...",Hewitt Project,0,0,0,0,NaN
9,197001030001,1970,1,3,NaN,0,NaN,217,United States,1,...,"Karl Armstrong's girlfriend, Lynn Schultz, dro...",Committee on Government Operations United Stat...,"Tom Bates, ""Rads: The 1970 Bombing of the Army...","David Newman, Sandra Sutherland, and Jon Stewa...",Hewitt Project,0,0,0,0,NaN
10,197001050001,1970,1,1,NaN,0,NaN,217,United States,1,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
11,197001060001,1970,1,6,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
12,197001080001,1970,1,8,NaN,0,NaN,98,Italy,8,...,NaN,NaN,NaN,NaN,Hijacking DB,-9,-9,1,1,NaN
13,197001090001,1970,1,9,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...",NaN,Hewitt Project,-9,-9,0,-9,NaN
14,197001090002,1970,1,9,NaN,0,NaN,217,United States,1,...,The fire began at 8:30 PM. The Armed Commandos...,Committee on the Judiciary United States Sena...,"""No Evidence Of Arson Found In Barkers Fire,"" ...","""Toward People's War for Independence and Soci...",Hewitt Project,0,0,0,0,NaN
15,197001100001,1970,1,10,NaN,0,NaN,499,East Germany (GDR),9,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
16,197001110001,1970,1,11,NaN,0,NaN,65,Ethiopia,11,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
17,197001120001,1970,1,12,NaN,0,NaN,217,United States,1,...,"One half hour after the bomb explosion, an ano...","""Blast Damages Flatbush School,"" New York Time...","Linda Greenhouse, ""Madison School Puzzled By B...",Committee on Government Operations United Stat...,Hewitt Project,-9,-9,0,-9,NaN
18,197001120002,1970,1,12,NaN,0,NaN,217,United States,1,...,NaN,Committee on the Judiciary United States Sena...,"""Toward People's War for Independence and Soci...",NaN,Hewitt Project,-9,-9,0,-9,NaN
19,197001130001,1970,1,13,NaN,0,NaN,217,United States,1,...,The store was a White owned business operating...,Committee on Government Operations United Stat...,NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN
20,197001140001,1970,1,14,NaN,0,NaN,217,United States,1,...,NaN,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Peter F. Nardulli and Jeffrey M. Stonecash, ""P...",Hewitt Project,-9,-9,0,-9,NaN
21,197001150001,1970,1,15,NaN,0,NaN,218,Uruguay,3,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
22,197001190002,1970,1,19,NaN,0,NaN,217,United States,1,...,Witnesses observed three African American male...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Seattle University, ""1965-1975: Troubled Times...",Hewitt Project,-9,-9,0,-9,NaN
23,197001190003,1970,1,19,NaN,0,NaN,217,United States,1,...,Judith and Silas Bissell were both members of ...,Committee on Government Operations United Stat...,"Christopher Hewitt, ""Political Violence and Te...","Earl Caldwell, ""Fear Grows In Seattle As Polic...",Hewitt Project,-9,-9,0,-9,NaN
24,197001190004,1970,1,19,"January 19-20, 1970",0,NaN,217,United States,1,...,The building might have been shot at a second ...,Committee on Government Operations United Stat...,"""Black Panthers Say Office Was Bombed,"" New Yo...","""30 Shots Fired Into Office of Panthers in Jer...",Hewitt Project,-9,-9,0,-9,NaN
25,197001200001,1970,1,20,NaN,0,NaN,83,Guatemala,2,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
26,197001210001,1970,1,21,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
27,197001220001,1970,1,22,NaN,0,NaN,222,Venezuela,3,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
28,197001220002,1970,1,22,NaN,0,NaN,217,United States,1,...,This attack might be linked with other episode...,Committee on Government Operations United Stat...,"""Beef Plant Workers in Nebraska Await Call to ...",NaN,Hewitt Project,-9,-9,0,-9,NaN
29,197001250001,1970,1,25,NaN,0,NaN,217,United States,1,...,"Police, at the time suspected, that this attac...","""Miss. City Is Desegregation Trouble Spot,"" Ch...",NaN,NaN,Hewitt Project,-9,-9,0,-9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156742,201512310002,2015,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,"""Iraq: Roundup of Security Incidents 29 Decemb...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156743,201512310004,2015,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,"""Iraq: Roundup of Security Incidents 29 Decemb...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156744,201512310005,2015,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,"""8 people killed, wounded in bomb south west o...","""Iraq: Roundup of Security Incidents 29 Decemb...","""Terrorism: Transcript of ISIL's Al-Bayan Radi...",START Primary Collection,-9,-9,0,-9,NaN
156745,201512310006,2015,12,31,NaN,0,NaN,95,Iraq,10,...,NaN,"""7 people killed, wounded in bomb blast east o...","""Iraq: Security Roundup 1900 GMT 31 December 2...",NaN,START Primary Collection,-9,-9,0,-9,NaN
156746,201512310008,2015,12,31,NaN,1,NaN,228,Yemen,10,...,NaN,"""Aden army commander survives Yemen bombing,"" ...","""Yemen: Security Roundup 2000 GMT 31 December ...","""Gunmen kill senior militia leader in Yemen's ...",START Primary Collection,-9,-9,0,-9,NaN
156747,201512310009,2015,12,31,NaN,0,NaN,228,Yemen,10,...,NaN,"""Aden army commander survives Yemen bombing,"" ...","""Senior south Yemen army chief survives bombin...","""Senior south Yemen army commander survives bo...",START Primary Collection,-9,-9,0,-9,NaN
156748,201512310010,2015,12,31,NaN,0,NaN,228,Yemen,10,...,NaN,"""Yemen: Security Roundup 2000 GMT 31 December ...",NaN,NaN,START Primary Collection,0,1,0,1,NaN
156749,201512310012,2015,12,31,NaN,0,NaN,228,Yemen,10,...,NaN,"""Yemen: Security Roundup 2000 GMT 31 December ...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
156750,201512310013,2015,12,31,NaN,0,NaN,173,Saudi Arabia,10,...,NaN,"""Saudi-led coalition ending Yemen ceasefire, s...","""Yemen: Security Roundup 2000 GMT 31 December ...",NaN,START Primary Collection,1,1,0,1,NaN
156751,201512310015,2015,12,31,NaN,0,NaN,60,Egypt,10,...,There is doubt that this incident meets terror...,"""Egypt parents, 3 children killed by shelling ...","""Egypt parents, three children killed by shell...","""Egypt officials: Militants in Sinai kill enti...",START Primary Collection,-9,-9,0,-9,NaN
156752,201512310016,2015,12,31,NaN,0,NaN,173,Saudi Arabia,10,...,NaN,"""Missile from Yemen kills 3 Saudi civilians,"" ...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156753,201512310017,2015,12,31,NaN,0,NaN,155,West Bank and Gaza Strip,10,...,NaN,"""IDF soldier lightly wounded in West Bank ramm...","""Palestinian in West Bank rams Israeli forces ...","""Breaking: Soldier lightly wounded in vehicula...",START Primary Collection,0,0,0,0,NaN
156754,201512310018,2015,12,31,NaN,0,NaN,209,Turkey,10,...,NaN,"""Anadolu Agency Reports One PKK Member Killed,...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
156755,201512310019,2015,12,31,NaN,0,NaN,214,Ukraine,9,...,NaN,"""Ukrainian Police Blame Second Crimean Power O...","""Ukrainian police say Crimean power line damag...","""Power transmission line tower in Kherson regi...",START Primary Collection,-9,-9,0,-9,NaN
156756,201512310020,2015,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Grenade hurled at Police Station Khanyar,"" Ka...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156757,201512310021,2015,12,31,NaN,0,NaN,75,Germany,8,...,NaN,"""1ST LEAD,"" Deutsche Presse-Agentur, January 1...",NaN,NaN,START Primary Collection,-9,-9,1,1,NaN
156758,201512310022,2015,12,31,NaN,0,NaN,65,Ethiopia,11,...,Casualty numbers for this incident conflict ac...,"""Students said leaving southern Ethiopian univ...","""Hand grenade attack kills 2 at Ethiopian univ...","""Hand grenade attack kills two at Ethiopian un...",START Primary Collection,-9,-9,0,-9,NaN
156759,201512310024,2015,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Philippines: BIFF launches simultaneous attac...","""BIFF harassments, rido disrupt New Year celeb...","""HeadlinesTroops beat back BIFF assaults on 3 ...",START Primary Collection,0,0,0,0,"201512310024, 201512310026, 201512310027"
156760,201512310025,2015,12,31,NaN,0,NaN,4,Afghanistan,6,...,NaN,"""Afghanistan: Unknown Gunmen Murder Girls' Sch...","""Highlights: Pakistan Pashto Press 2 January, ...",NaN,START Primary Collection,0,0,0,0,NaN
156761,201512310026,2015,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Philippines: BIFF launches simultaneous attac...","""BIFF harassments, rido disrupt New Year celeb...","""HeadlinesTroops beat back BIFF assaults on 3 ...",START Primary Collection,0,0,0,0,"201512310024, 201512310026, 201512310027"
156762,201512310027,2015,12,31,NaN,0,NaN,160,Philippines,5,...,Casualty numbers for this incident conflict ac...,"""26 BIFF rebels slain in attacks,"" Manila Time...","""Philippines: BIFF launches simultaneous attac...","""BIFF harassments, rido disrupt New Year celeb...",START Primary Collection,0,0,0,0,"201512310024, 201512310026, 201512310027"
156763,201512310028,2015,12,31,31-12-2015 00:00,0,NaN,95,Iraq,10,...,NaN,"""Bomb blast kills soldier, wounds another in s...","""2 soliders killed, wounded in explosion in so...",NaN,START Primary Collection,-9,-9,0,-9,NaN
156764,201512310029,2015,12,31,NaN,0,NaN,153,Pakistan,6,...,NaN,"""Unknown armed men fire 3 rockets in Mand and ...","""Highlights: Pakistan Balochistan Press 1 Janu...",NaN,START Primary Collection,-9,-9,0,-9,NaN
156765,201512310030,2015,12,31,NaN,0,NaN,153,Pakistan,6,...,NaN,"""Unknown armed men fire 3 rockets in Mand and ...","""Highlights: Pakistan Balochistan Press 1 Janu...",NaN,START Primary Collection,0,0,0,0,NaN
156766,201512310031,2015,12,31,NaN,0,NaN,153,Pakistan,6,...,NaN,"""Unknown armed men fire 3 rockets in Mand and ...","""Highlights: Pakistan Balochistan Press 1 Janu...",NaN,START Primary Collection,0,0,0,0,NaN
156767,201512310032,2015,12,31,NaN,0,NaN,34,Burundi,11,...,Casualty numbers for this incident conflict ac...,"""1 dead, dozens injured in Burundi grenade att...","""One dead, dozen hurt in Burundi grenade attac...",NaN,START Primary Collection,-9,-9,0,-9,NaN
156768,201512310033,2015,12,31,31-12-2015 00:00,0,NaN,96,Ireland,8,...,NaN,"""Gardaí investigate Knocknaheeny pipe bomb,"" C...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156769,201512310034,2015,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Village official killed, 2 injured in Marawi,...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
156770,201512310036,2015,12,31,31-12-2015 00:00,0,NaN,182,Somalia,11,...,NaN,"""Africa Command OSINT Daily 31 December 2015,""...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
156771,201512310037,2015,12,31,NaN,1,1/16/16,113,Libya,10,...,Casualty numbers for this attack conflict acro...,"""20 Egyptian captives return from Libya, one r...","""21 abducted nationals released in Libya,"" Cai...","""Libya Daily Digest January 20, 2016,"" Libya D...",START Primary Collection,0,1,1,1,NaN

---

Q.1)	How many attacks happened in India?

In [3]:
terror.country_txt[terror.country_txt=='India'].count()

9940

---

Q.2)	How many attacks happened in India and upto 3 people were killed?

In [4]:
terror[terror.country_txt=='India'][terror.nkill<=3].count().eventid

8362

---

Q.3) Extract the city and summary for attacks above

In [5]:
terror[terror.country_txt=='India'][terror.nkill<=3][['city','summary']].dropna(axis=0)

                     city                                            summary
67453           New Delhi  01/09/1998: At least 44 people were injured, t...
67555          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67556          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67557          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67558          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67559          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67560          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67561          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67562          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67563          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67564          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67565          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67566          Coimbatore  02/14/1998: Thirty-six people were killed and ...
67600              Mumbai  02/27/1998: A bomb, concealed in a briefcase, ...
67601              Mumbai  02/27/1998: A bomb killed one person and injur...
67602               Virar  02/27/1998: One person died and another two we...
67948             Amarpur  08/02/1998: National Liberation Front of Tripu...
67976            Srinagar  08/04/1998: Unknown perpetrators lobbed a gren...
67977   Udhampur district  08/04/1998: Unknown perpetrators shot three Hi...
68047            Guwahati  08/24/1998: Three people were killed and 20 in...
68116          Saraikhola  09/25/1998: One person was killed when unknown...
68118            Srinagar  09/25/1998: Two Border Security Force (BSF) pe...
68156            Chawmanu  10/08/1998: Members of the National Liberation...
68213           Safa Pora  10/23/1998: An senior army official was killed...
68298            Srinagar  11/19/1998: Fifteen people were injured in a h...
68308            Anantnag  11/21/1998: A grenade was lobbed at a police s...
68319   Tinsukia district  11/26/1998: A huge explosion destroyed a diese...
68323               Nalli  11/27/1998: The United Liberation Front of Ass...
68324    Darrang District  11/27/1998: The United Liberation Front of Ass...
68375              Pattan  01/04/1999: Reported Islamic militants fired f...
...                   ...                                                ...
156156         Dariyakona  12/15/2015: Assailants abducted Baghel Gond fr...
156176           Awapalli  12/15/2015: An explosive device detonated in A...
156243           Srinagar  12/17/2015: Assailants fired a rifle grenade a...
156248             Imphal  12/17/2015: An explosive device detonated in D...
156249       Williamnagar  12/17/2015: Assailants threw a grenade at a st...
156292     Pookottumpadam  12/18/2015: Assailants attacked an Indian Fore...
156314        Kalia Atala  12/19/2015: Assailants torched an Airtel cell ...
156339           Chipakur  12/20/2015: Assailants torched an under-constr...
156340            Kakpora  12/20/2015: Assailants threw a grenade at the ...
156383    Bastar district  12/21/2015: Security forces arrested three ass...
156384       Madathakonda  12/21/2015: Assailants abducted and killed Van...
156385       Madathakonda  12/21/2015: Assailants beat a civilian in Mada...
156388       Badapokharia  12/21/2015: Assailants threw at least nine cru...
156389      Simra Nizamat  12/21/2015: Police discovered and defused two ...
156433             Imphal  12/22/2015: Assailants shot and killed a baker...
156458           Nilawaya  12/23/2015: Assailants abducted Hadma Ram, a f...
156459             Imphal  12/23/2015: An explosive device planted under ...
156483          Bijbehara  12/24/2015: Assailants opened fire on police p...
156499            Ramgarh  12/24/2015: Assailants detonated explosive dev...
156529          Badapadar  12/25/2015: Assailants attacked Jayaram Khara ...
156530  Kudumulgumma Raba  12/25/2015: Assailants attacked Sahdev Badanay...
156533          Sivasagar  12/25/2015: Security forces discovered and def...
156569             Pariya  12/26/2015: Assailants abducted Sujit Modiyami...
156612           Tillayya  12/26/2015: An assailant attempted to plant an...
156658            Mendhar  12/27/2015: An explosive device planted under ...
156695              Terem  12/29/2015: Assailants abducted three students...
156698         Peravurani  12/29/2015: An explosive device was discovered...
156713          Tulsibari  12/29/2015: Assailants abducted Hazrat Ali in ...
156725            Zhutovi  12/30/2015: Assailants attempted to extort mon...
156756           Srinagar  12/31/2015: Assailants threw a grenade at an I...

[6246 rows x 2 columns]

---

Q.4)	In a single terror incident in India, find out top 5 cities by number killed

In [6]:
#ls=sorted(terror.nkill.dropna(axis=0)[terror.country==92 ],reverse=True)
terror[terror.country==92].sort_values('nkill',ascending=False).city.head(5)

81000                Mumbai
96598               Jhargam
54339                Bombay
95860    Dantewada district
56837              Banabari
Name: city, dtype: object

---

Q.5)	In a single terror incident in India, find out top 5 cities by number killed and wounded

In [7]:
terror[terror.country==92].sort_values('nkill'and 'nwound',ascending=False).city.head(5)

81000       Mumbai
89128       Dispur
30378      Chennai
79045    New Delhi
75769       Mumbai
Name: city, dtype: object

---

Q.6) How many attacks were successful that were suicide attacks?

In [8]:
terror.query("(suicide==1 & success==1)")['attacktype1_txt'].count()

4260

---

Q.7) label all the incidents where the number killed was more than 5 as severe.

In [9]:
terror['Label'] = ""
i=0 
while i<156772:
    if (terror.iat[i,100] > 5):
        terror.iat[i,137] = "severe"
    else :
        terror.iat[i,137] = "not severe"
    i= i + 1


---

Q.8) write a function to label an incident that was both successful and suicidal

In [10]:
def suc(eventid) :
    i=0 
    j=0
    
    while i<156772:
        if (terror.iat[i,0] == eventid and terror.iat[i,26]==1 and terror.iat[i,27]==1 ):
            j=1
            break
        else:
            j=0
        i= i + 1
    if (j==1):
        print('yes')
    else:
        print('not matched try another')

suc(int(input("Enter the eventid : ")))

Enter the eventid : 197001020002
not matched try another

---

Q.9)	Create a new category representing if the incident occured in Afghanistan, Pakistan or India as one level of the category and all the other countries as another level

In [11]:
terror['Level_Target']= ""
i=0 
j=0
while i<156772:
    if (terror.iat[i,8] == 'Afghanistan' or terror.iat[i,8]=='Pakistan'or terror.iat[i,8]=='India' ):
        terror.iat[i,138] = " Af_Pak_India"
    else:
        terror.iat[i,138] = "ROW"
    i= i + 1

In [12]:
terror[['country_txt','Level_Target']]

                     country_txt   Level_Target
0             Dominican Republic            ROW
1                         Mexico            ROW
2                    Philippines            ROW
3                         Greece            ROW
4                          Japan            ROW
5                  United States            ROW
6                        Uruguay            ROW
7                  United States            ROW
8                  United States            ROW
9                  United States            ROW
10                 United States            ROW
11                 United States            ROW
12                         Italy            ROW
13                 United States            ROW
14                 United States            ROW
15            East Germany (GDR)            ROW
16                      Ethiopia            ROW
17                 United States            ROW
18                 United States            ROW
19                 United States            ROW
20                 United States            ROW
21                       Uruguay            ROW
22                 United States            ROW
23                 United States            ROW
24                 United States            ROW
25                     Guatemala            ROW
26                   Philippines            ROW
27                     Venezuela            ROW
28                 United States            ROW
29                 United States            ROW
...                          ...            ...
156742                      Iraq            ROW
156743                      Iraq            ROW
156744                      Iraq            ROW
156745                      Iraq            ROW
156746                     Yemen            ROW
156747                     Yemen            ROW
156748                     Yemen            ROW
156749                     Yemen            ROW
156750              Saudi Arabia            ROW
156751                     Egypt            ROW
156752              Saudi Arabia            ROW
156753  West Bank and Gaza Strip            ROW
156754                    Turkey            ROW
156755                   Ukraine            ROW
156756                     India   Af_Pak_India
156757                   Germany            ROW
156758                  Ethiopia            ROW
156759               Philippines            ROW
156760               Afghanistan   Af_Pak_India
156761               Philippines            ROW
156762               Philippines            ROW
156763                      Iraq            ROW
156764                  Pakistan   Af_Pak_India
156765                  Pakistan   Af_Pak_India
156766                  Pakistan   Af_Pak_India
156767                   Burundi            ROW
156768                   Ireland            ROW
156769               Philippines            ROW
156770                   Somalia            ROW
156771                     Libya            ROW

[156772 rows x 2 columns]

---

Q.10)	How many incidents happened in Af-Pak-India vs ROW?

In [59]:
a=terror.query("(country_txt=='India' or country_txt=='Afghanistan' or country_txt=='Pakistan')")['country'].count()
b=terror.query("(country_txt!='India' and country_txt!='Afghanistan' and country_txt!='Pakistan')").suicsum()
print("Incident in Af-Pak-India = " , a , "Icident in ROW = ", b-a)

Incident in Af-Pak-India =  32398 Icident in ROW =  124374

---

Q.11)	List the number of suicides attacks and average kills by Af-Pak-India vs ROW. Rename columns in the output as Average_Kills and Number_Incidents.

In [69]:
a=terror.query("(country_txt=='India' or country_txt=='Afghanistan' or country_txt=='Pakistan')").suicide.sum()
avg=terror.query("(country_txt=='India' or country_txt=='Afghanistan' or country_txt=='Pakistan')").nkill.mean()
print("the suicides attacks of  Af-Pak-India  = ", a, "The average kills of  Af-Pak-India  = ",avg)

b=terror.query("(country_txt!='India' and country_txt!='Afghanistan' and country_txt!='Pakistan')").suicide.sum()
avg2=terror.query("(country_txt!='India' and country_txt!='Afghanistan' and country_txt!='Pakistan')").nkill.mean()
print("suicides attacks of  ROW = ", b, "The average kills of  Af-Pak-India vs ROW = ",avg2)

the suicides attacks of  Af-Pak-India  =  1462 The average kills of  Af-Pak-India  =  2.1055744306027426
suicides attacks of  ROW =  3309 The average kills of  Af-Pak-India vs ROW =  2.428726548817037